
//Base button styles
.btn {
    padding: 9px 15px;
    white-space:normal;
    text-decoration: none !important;
    font-size: 16px;
    line-height: inherit;
    border-radius: 0;
    @include transition(0.3s);
}

.btn-default {
    color:#fff;
    background-color:$green;
    margin-bottom: 14px;
    border: 1px solid #88c084;
    
    &:hover, &:focus, &:active {
        color:$white;
        background-color: $darkgreen;
        border: 1px solid $primary;
    }
}
.btn-primary {
     border: 1px solid #88c084;
     background-color: $green;
     color: $white;

     &:hover, &:focus, &:active {
       color: $white;
       background-color: $darkgreen;
       border: 1px solid $primary;
     }
}
.btn-secondary {
  color:#fff;
  background-color:#92b956;
  margin-bottom: 14px;
  border: 1px solid #229738;

  &:hover, &:focus, &:active {
    color:$white;
    background-color: #58752a;
    border: 1px solid #229738;
  }
}