@import "mixins";
@import "variables";

html,
body {
    overflow-x: hidden;
}

*:focus {
    outline: 0 !important;
}

a img {border:none;}
a img, 
a:active {
    outline:none;
}

a { 
    color: $primary;
}
a:active, 
a:focus, 
a:hover { 
    color: $darkgreen;
}
a[href^=tel] {  
    @include md {
        pointer-events:none;
    }
}

.full {
    float:left;
    width:100%;
}
.full:before {
    content: " ";
    display: table;
}

#main,
#colophon,
.container {
    margin: 0 auto;
    position:relative;
}
// .container {
//     @include xxl {
//         width:1470px;
//     }
//     @include yl {
//         width:1570px;
//     }
// }
// .container-fluid {
//     @include lg {
//         padding:0 6%;
//     }
//     @include xl {
//         padding:0 8.33333%;
//     }
//     &.inherit {
//         position:relative;
//         height:inherit;
//     }
// }

.browsehappy {
    text-align: center;
    padding:25px;
    background-color: #eee;
    margin-bottom: 0;
}

//Animation delays
.fade {
   transition-duration:0.15s; 
   -webkit-transition-duration:0.15s;
   @include lg {
       transition-duration:0.25s; 
       -webkit-transition-duration:0.25s;
   }
}

.delay25 {
    animation-delay:0.25s;
    -webkit-animation-delay:0.25s;
}
.delay50 {
    animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
}
.delay75 {
    animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
}
.delay1 {
    animation-delay:1s;
    -webkit-animation-delay:1s;
}
.b_separator {
    display: block;
    width: 15vw;
    margin-top: 2px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid #fff;
}
.b_separator.is-short {
    width: 5vw;
    margin-top: 2px;
    position: relative;
    z-index: 1;
}
.green-version {
    position: relative;
    z-index: 1;
    border-bottom-color: #195724;
    background-color: transparent;
}
.b-content-subtitle {
    margin-bottom: 23px;
    color: #000;
    font-size: 1em;
    font-weight: 800;
    text-transform: none;
}
.google-map {
  height: 100%;
  width: 100%;
}
.standard-paragraph {
    color: #404140;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 0px;
    @include sm {
        margin-top: -16px;
    }
    @include md {
        margin-top: 0px;
        font-size: 1.2em;
        line-height: 1.6em;
    }
}