form {
	.form-control {
		@include border-radius(0);
	}
	.select {
		position:relative;
		&:after {
			cursor: pointer;
		    pointer-events: none;
		    font-family: 'FontAwesome';
		    content: '\f107';
		    @include font-size(1.4);
		    color: $gray;
		    display: block;
		    position: absolute;
		    text-align: center;
		    right: 15px;
		    top: 50%;
		    @include translate(0,-50%);
		    background-color: transparent;
		}
		select {
			-webkit-appearance:none;
			-moz-appearance:none;
			padding-right:25px;
			color:$gray;
		}
		select::-ms-expand {
		    display: none;
		}
	}
	input {
		color:$gray;
	}
	input::-webkit-input-placeholder { color: $gray;}
	input::-moz-placeholder { color: $gray;	}
	input:-moz-placeholder { color: $gray;	}
	input:-ms-input-placeholder { color: $gray;	}
}

.bVErrMsgContainer {
	z-index:5;
}
.bvalidator_errmsg {
	left:0 !important;
//	top:0 !important;
    background-color: $primary;
    font-size: 10px;
    border: 1px solid $primary;
    color: $white;
    display: none;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 2px 10px 2px 5px;
}
.bvalidator_errmsg .bvalidator_close_icon {
    margin-left: 5px;
    margin-top: -2px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bolder;
    color: $white;
    cursor: pointer;
    font-size: 12px;
}
.bvalidator_errmsg em {
    display: none;
    border-color: $primary transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -10px;
    left: 5px;
}