//Font size conversion for line-height and letter-spacing
@mixin font-size($remsize: 1, $lineheight: 1.5) {
  font-size: ($remsize * 16) + px;
  font-size: $remsize + rem;
  line-height: $lineheight;
}

//Fonts
@mixin OpenSans {
  font-family: 'Open Sans', sans-serif;
}
@mixin Monserrat {
  font-family: 'Montserrat', sans-serif;
}

//Effects
@mixin transition ($speed) {
    -webkit-transition: all $speed ease-in-out;
    -o-transition: all $speed ease-in-out;
    -ms-transition: all $speed ease-in-out;
    -moz-transition: all $speed ease-in-out;
    transition: all $speed ease-in-out;
}
@mixin scale ($size) {
    -webkit-transform: scale($size);
    -o-transform: scale($size);
    -ms-transform: scale($size);
    -moz-transform: scale($size);
    transform: scale($size);
}
@mixin skew($deg) {
    -webkit-transform: skew($deg);
    -o-transform: skew($deg);
    -ms-transform: skew($deg);
    -moz-transform: skew($deg);
    transform: skew($deg);
}
@mixin translate ($x,$y) {
    -webkit-transform: translate($x,$y);
    -o-transform: translate($x,$y);
    -ms-transform: translate($x,$y);
    -moz-transform: translate($x,$y);
    transform: translate($x,$y);
}
@mixin translate3d($x,$y,$z) {
    -webkit-transform: translate3d($x,$y,$z);
    -o-transform: translate3d($x,$y,$z);
    -ms-transform: translate3d($x,$y,$z);
    -moz-transform: translate3d($x,$y,$z);
    transform: translate3d($x,$y,$z);
}
@mixin scale($amount) {
    -webkit-transform: scale($amount); 
    -o-transform: scale($amount);
    -ms-transform: scale($amount); 
    -moz-transform: scale($amount); 
    transform: scale($amount);
}
@mixin rotate($amount) {
    -webkit-transform: rotate($amount); 
    -o-transform: rotate($amount);
    -ms-transform: rotate($amount); 
    -moz-transform: rotate($amount); 
    transform: rotate($amount);
}
@mixin box-shadow ($horizontal, $vertical, $blur, $color) {
    -moz-box-shadow: $horizontal $vertical $blur $color;
    -webkit-box-shadow: $horizontal $vertical $blur $color;
    box-shadow: $horizontal $vertical $blur $color;
}
@mixin opacity ($amount) {
    //filter: alpha(opacity=$amount*100);
    -moz-opacity: $amount;
    opacity: $amount;
}
@mixin background($position: center, $size: cover, $repeat: no-repeat) {
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
}
@mixin border-radius($radius:0) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

//Layout
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//Media Queries
@mixin xsm {
  @media (min-width: 480px) {
    @content;
  }
}
@mixin sm {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 1200px) {
    @content; 
  }
}
@mixin xl {
  @media (min-width: 1400px) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: 1600px) {
    @content;
  }
}
@mixin yl {
  @media (min-width: 1800px) {
    @content;
  }
}
@mixin zl {
  @media (min-width: 1920px) {
    @content;
  }
}