html {
    font-size: 16px;
}

body {
     @include Monserrat;
     font-weight: 400;
     color: $gray;
      font-size: 16px;
      line-height: 20px;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

p, ol, ul {
  margin-bottom: 10px;
  line-height: 1.5em;
  font-size: 1em;
  @include md {
    font-size: 1.2em;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
     //clear:both;
     margin-bottom: 20px;
     line-height: 1;
     @include Monserrat;
}

h1, .h1 {
    color: $darkgreen;
    font-weight: 400;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.2em;
    margin-bottom: 4vw;
    font-size: 1.6em;
    @include xsm {
      font-size: 1.8em;
    }
    @include sm {
     margin-bottom: 3vw;
     font-size: 2em;
    }

    @include md {
     margin-bottom: 1vw;
     font-size: 2.4em;
    }
}
h2, .h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #195724;
  font-weight: 700;
  font-size: 1.7em;
  line-height: 1.2em;
  @include sm {
    font-size: 1.9em;
    line-height: 1.3em;
  }
  @include md {
    font-size: 32px;
    line-height: 36px;
  }
}

h3, .h3 {
  color: #055f16;
  line-height: 1.2em;
  font-weight: 300;
  font-size: 1.3em;
  margin-bottom: 4vw;
  @include xsm {
    margin-bottom: 1vw;
  }
  @include sm {
    font-size: 1.4em;
  }
  @include md {
    font-size: 1.6em;
  }
}

h4, .h4 {
     color: #404140;
     font-size: 18px;
     font-weight: bold;
}

h5, .h5 {
     color: #404140;
    margin-top: 11px;
    margin-bottom: 13px;
    font-size: 18px;
}

h6, .h6 {
  color: #404140;
  font-size: 16px;
  font-weight: bold;
}
.content-subtitle {
  margin-bottom: 23px;
  @include Monserrat;
  color: #000;
  font-size: 1em;
  font-weight: 800;
  text-transform: none;
}