.section-rich-text-wrap{
    text-align: center;
    
    @include md{
        text-align: left;
    }
}

.section{
    position: relative;
    border-bottom: 2px none $white;
    padding-top: 50vw;
    padding-bottom: 15vw;
    min-height: 0px;
    
    @include sm{
        padding-top: 40vw;
        padding-bottom: 10vw;
    }

    @include md{
        padding-top: 4vw;
        padding-bottom: 4vw;
    }
}

.w-clearfix:before,.w-clearfix:after{
    content:" ";display:table;
}

.w-clearfix:after{
    clear:both;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 728px;
    
    @include md{
        max-width: 940px;
    }
}

.container{
    width: 100%;
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    
    @include sm{
        padding-right: 7vw;
        padding-left: 7vw;
    }
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
    
    @include sm{
        margin-right: -3vw;
        margin-left: -3vw;
    }
    
    &.flex-row-centered-vertically{
        position: relative;
        z-index: 501;
        align-items: center;
    }
}

.inside-body-intro-rich-text{
    p{
        color: $gray;
        font-weight: 600;
        font-size: 1.1875em;
        line-height: 1.4375em;
        
        @include sm{
            font-size: 1.375em;
            line-height: 1.4375em;
        }
    }
}

.inside-body-rich-text{
    p, ul, ol{
        font-weight: 500;
        font-size: 1.175em;
        line-height: 1.4375em;
        
        @include sm{
            font-size: 1.1875em;
            line-height: 1.5em;
        }
    }
    
    ul{
        text-align: left;
    }
}

.interior-page-title-accent-text{
    font-size: 1em;
    margin-top: 0.375rem;
    margin-bottom: 0em;
    margin-left: 2px;
    color: $green;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;

    @include sm{
        margin-bottom: -0.5em;
        font-size: 1.25em;
    }

    @include md{
        margin-bottom: 0
    }
}

.flex-col-rt {
  position: relative;
}

.flex-col-rt p {
    font-weight: 500;
    font-size: 1.125em;
    line-height: 1.4375em;
    
    @include sm{
        font-size: 1.25em;
        line-height: 1.5em;    
    }
    
    @include md{
        font-size: 1.1875em;
        line-height: 1.4375em;
    }
}

.flex-col-rt h4 {
    font-size: 1.25em;
    margin-top: 0.5em;
    color: rgba(0, 0, 0, .7);
    line-height: 1.1875em;
    
    @include sm{
        font-size: 1.625em;
    }
    
    @include md{
        font-size: 2em;
    }
}

.flex-col-rt h3 {
    @include md{
        margin-top: 0em;
        color: $green;
        font-weight: 600;
    }
}

.flex-col-rt ol {
    @include md{
        margin-top: 0.25em;
        margin-bottom: 0.75em;
        padding-left: 1.25em;
        font-size: 1.3125em;
        line-height: 1.3125em;
        font-weight: 500;
    }
}

.flex-col-rt ul {
    @include md{
        padding-left: 20px;
    }
}

.flex-col{
    width: 100%;
    flex-grow: 1;
    padding-right: 20px;
    padding-left: 20px;
    
    @include sm{
        padding-right: 3vw;
        padding-left: 3vw;
    }
    
    @include md{
        width: 50%;
    }
    
    &.flex-col-100 {
      width: 100%;
    }

    &.flex-col-25 {
        width: 100%;
      
        @include sm{
            width: 50%;
        }

        @include md{
            width: 25%;
        }
    }

    &.flex-col-50 {
      flex-shrink: 0;
    }
    
    &.flex-col-40 {
        width: 40%;
    }
}

.flex-col-rt p {
    font-weight: 500;
    font-size: 1.125em;
    line-height: 1.4375em;

    @include sm{
        font-size: 1.25em;
        line-height: 1.5em;    
    }
    
    @include md{
        font-size: 1.1875em;
        line-height: 1.4375em;
    }
}

.flex-col-2{
    position: relative;
    display: flex;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    
    @include sm{
        width: 50%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.section-title {
    margin-top: 0.5em;
    padding-top: 0.0625em;
    color: $green;
    line-height: 1.125em;
    font-weight: 500;
    letter-spacing: -0.01em;
    transform: none;
   font-size: 1.625em;
   
   @include sm{
       font-size: 2.25em;
   }

    @include md{
            font-size: 2.25em;
    }
}

.section-title-col{
    width: 55%;
    margin-top: -5vw;
    margin-bottom: 0px;
    margin-left: -7vw;
    padding-left: 10vw;
    background-color: $green;
    transform: skew(20deg, 0deg);
    
    
    .section-title{
        color: #fff;
        transform: skew(-20deg, 0deg);
        padding-top: 0.7815em;
        padding-bottom: 0.7815em;
        margin-top: 0;
    }
}