.sticky {
	display: block;
}

.site-content {
	clear:both;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.sr-only{
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}		

// .single-post .entry-content img {
// 	max-height:300px;
// 	width:auto;
// 	float:right;
// 	clear:both;
// 	margin:0 0 25px 25px;
// }
.entry-footer .cat-links,
.entry-footer .tags-links {
	display:block;
}

//Comments Form
#comments {
	.comment-notes {
		font-size: 12px;
	}
	p {
		margin-bottom: 5px;
		&.form-submit {
			margin-top:10px;
		}
	}
	label {
		display: block;
	}
	input[type='text'],
	input[type='email'],
	input[type='url'],
	textarea {
		width: 100%;
	}
	.comment-form-url {
		display: none;
	}
}

//Sidebar
#secondary {
	margin:30px auto;
	section {
		display:inline-block;
		vertical-align:top;
		width:50%;
		margin:0 -2px;
	}
}

//Blog
.archive, .category {
	article {
		padding-bottom:20px;
		border-bottom:1px solid #eee;
	}
}


.posts-navigation {
	h2 {
		display: none;
	}
	.nav-previous {
		float:left;
		&:before {
			content: '\2190';
			display: inline-block;
			margin-right:3px;
		}
	}
	.nav-next {
		float:right;
		&:after {
			content: '\2192';
			display: inline-block;
			margin-left:3px;
		}
	}
}