.blog-content {
  padding-top: 15vw;
  padding-bottom: 4vw;
  @include sm {
    padding-top: 8vw;
  }
  .posts-navigation {
    display: none;
  }
  .wp-pagenavi {
    .first {
      display: none;
    }
    .last {
      display: none;
    }
    span {
      display: inline-flex;
      min-height: 3.5em;
      min-width: 3.5em;
      margin-right: 2px;
      margin-left: 2px;
      padding: 0.75em 0.75em 0.6875em;
      justify-content: center;
      align-items: center;
      border-radius: 2em;
      color: #2a2c35;
      font-size: 0.875em;
      line-height: 1em;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      border: 0px solid #BFBFBF;
    }
  }
  .blog-flex-col {
    width: 50%;
    padding-right: 3vw;
    padding-left: 3vw;
    flex-grow: 1;
    .posted-on, .cat-links {
      margin-top: 0.25em;
      margin-right: 1em;
      margin-bottom: 0.25em;
      font-size: 1em;
      line-height: 1em;
      font-weight: 500;
      text-transform: uppercase;
      a {
        font-weight: bolder;
        color: #5e6c81;
        text-decoration: none;
      }
    }
  }
  .inside-sidebar-blog-col {
    position: relative;
    width: 35%;
    max-width: 440px;
    min-width: 100%;
    margin-right: 0;
    margin-left: 0;
    flex-grow: 0;
    flex-shrink: 0;
    
    @include sm{
        min-width: 370px;
        margin-left: 20px;
        margin-right: -2vw;
    }
  }
  .blog-single-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .blog-post-item-image-link {
      display: flex;
      width: 35%;
      min-width: 240px;
      margin-right: 3%;
      justify-content: center;
      align-items: center;
      align-self: flex-start;
      flex-grow: 1;
      flex-shrink: 0;
      box-shadow: none;
      position: relative;
      .blog-post-item-image {
        width: 100%;
      }
      .flex-col-image-overlay {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, #162e47, #162e47);
        opacity: 0.07;
        @include transition(0.3s);
        &:hover {
          opacity: 0.25;
        }
      }
    }
  }
  .blog-post-item-text-wrap {
    width: 60%;
    flex-grow: 1;
    .blog-post-item-title {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      color: $green;
      font-size: 1.75em;
      line-height: 1.3125em;
      font-weight: 600;
      .blog-post-title-link {
        border-bottom: 1px solid rgba(24, 114, 185, .25);
        color: $green;
        text-decoration: none;
        border-bottom-color: transparent;
        @include transition(0.3s);
        &:hover {
          border-bottom-color: $primary;
          color: $primary;
        }
      }
    }
    .blog-post-item-data-wrap {
      flex-wrap: wrap;
      font-size: 1em;
      line-height: 1em;
      font-weight: 500;
      text-transform: uppercase;
      justify-content: flex-start;
      display: flex;
      margin-bottom: 0.75em;
    }
    .blog-post-item-date {
      margin-top: 0.25em;
      margin-right: 1em;
      margin-bottom: 0.25em;
    }
    .blog-post-item-author {
      display: none;
      .blog-post-author-link {
        border-bottom: 1px solid rgba(24, 114, 185, .25);
        @include transition(0.3s);
        color: #1872b9;
        text-decoration: none;
        &:hover {
          border-bottom-color: $primary;
          color: $primary;
        }
      }
    }
  }
  .blog-post-item-description {
    font-size: 1.1875em;
    line-height: 1.5em;
    font-weight: 500;
  }
  .divider {
    width: 100%;
    height: 2px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-top: 2px solid #ecf1f3;
  }
  .blog-sidebar-section-item-wrap {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    .blog-sidebar-section-item-title-wrap {
      .blog-sidebar-section-item-title {
        margin-top: 0.75em;
        color: $green;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.5em;
        font-size: 1.4375em;
        line-height: 1.25em;
      }
    }
    .blog-categories-list {
      padding-left: 0px;
      line-height: 1.375em;
      list-style-type: none;
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: 1.125em;
      @include md {
        font-size: 1.1875em;
      }
      .blog-categories-list-item {
        background-image: none;
        display: flex;
        padding-left: 0px;
        align-items: center;
        background-image: none;
        background-position: 0px 7px;
        background-repeat: no-repeat;
        background-size: 9px 9px;
        @include md {
          background-size: 10px 10px;
        }
        .blog-categories-list-item-thumb-link {
          position: relative;
          width: 25%;
          max-width: 250px;
          min-width: 100px;
          margin-top: 0.25em;
          margin-right: 0.75em;
          margin-bottom: 0.25em;
          float: left;
          display: inline-block;
          align-self: flex-start;
          flex-shrink: 0;
          text-decoration: none;
          .flex-col-image-overlay {
            position: absolute;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(180deg, #162e47, #162e47);
            opacity: 0.07;
            @include transition(0.3s);
            &:hover {
              opacity: 0.25;
            }
          }
        }
        .blog-categories-list-item-text-wrap {
          padding-right: 15px;
          @include sm {
            padding-right: 8vw;
          }
          .blog-categories-list-link {
            border-bottom-color: transparent;
            color: rgba(42, 44, 53, .9);
            font-weight: 600;
            text-decoration: none;
            @include transition(0.3s);
            &:hover {
              border-bottom-color: $primary;
              color: $primary;
            }
          }
        }
      }
    }
  }
  .page-navigation-blog {
    display: flex;
    margin: 6em 20px 3em;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    .current {
      display: inline-flex;
      min-height: 3.5em;
      min-width: 3.5em;
      margin-right: 2px;
      margin-left: 2px;
      padding: 0.75em 0.75em 0.6875em;
      justify-content: center;
      align-items: center;
      border-radius: 2em;
      background-color: $darkgreen;
      color: #fff;
      font-size: 0.875em;
      line-height: 1em;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      border: none;
    }
    .page {
      border: none;
      display: inline-flex;
      min-height: 3.5em;
      min-width: 3.5em;
      margin-right: 2px;
      margin-left: 2px;
      padding: 0.75em 0.75em 0.6875em;
      justify-content: center;
      align-items: center;
      border-radius: 2em;
      background-color: #dfe4e6;
      color: #2a2c35;
      font-size: 0.875em;
      line-height: 1em;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      @include transition(0.3s);
      text-decoration: none;
      &:hover {
        background-color: $darkgreen;
        color: #fff;
      }
    }
    .previouspostslink {
      background-color: #dfe4e6;
      color: #2a2c35;
      display: inline-flex;
      min-height: 3.5em;
      min-width: 3.5em;
      margin-right: 2px;
      margin-left: 2px;
      padding: 0.75em 0.75em 0.6875em;
      justify-content: center;
      align-items: center;
      border-radius: 2em;
      font-size: 0.875em;
      line-height: 1em;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      border: none;
      text-decoration: none;
      padding-right: 2em;
      padding-left: 2em;
      border: none;
      text-decoration: none;
      @include transition(0.3s);
      &:hover {
        background-color: $darkgreen;
        color: #fff;
        padding-right: 2.5em;
        padding-left: 1.5em;
      }
    }
    .nextpostslink {
      background-color: #dfe4e6;
      color: #2a2c35;
      display: inline-flex;
      min-height: 3.5em;
      min-width: 3.5em;
      margin-right: 2px;
      margin-left: 2px;
      padding: 0.75em 0.75em 0.6875em;
      justify-content: center;
      align-items: center;
      border-radius: 2em;
      font-size: 0.875em;
      line-height: 1em;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      border: none;
      text-decoration: none;
      padding-right: 2em;
      padding-left: 2em;
      @include transition(0.3s);
      &:hover {
        background-color: $darkgreen;
        color: #fff;
        padding-right: 1.5em;
        padding-left: 2.5em;
      }
    }
  }
}
.categories-list {
  ul {
    padding-left: 0px;
    font-size: 1.1875em;
    line-height: 1.375em;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 10px;
    li {
      padding-left: 14px;
      background-image: url(../images/right-arrow.svg);
      background-position: 0px 7px;
      background-size: 10px 10px;
      background-repeat: no-repeat;
      margin-bottom: 0.5em;
      a {
        color: rgba(42, 44, 53, .9);
        font-weight: 600;
        border-bottom: 1px solid rgba(24, 114, 185, .25);
        border-bottom-color: transparent;
        text-decoration: none;
        @include transition(0.3s);
        &:hover {
          border-bottom-color: $primary;
          color: $primary;
        }
      }
    }
  }
}
.blog-single-padding {
  padding-top: 0;
  padding-bottom: 4vw;
  @include sm {
    padding-top: 0vw;
  }
}
