.default-area {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
  .default-main {
    flex: 1;
    display: flex;
    padding-right: 6vw;
    padding-left: 6vw;
    @include sm {
      padding-right: 2vw;
      padding-left: 30px;
    }
  }
}
.main-content-area {
  width: 100%;
}
.style-windows-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .window-choice {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 0 20px;
    text-align: center;
    @include sm {
      width: 20%;
    }
  }
}