.contact-sidebar {
  width: 20%;
  min-height: 200px;
  padding-top: 10px;
  display: none;
  min-width: 200px;
  margin-right: 0px;
  @include sm {
    display: block;
  }
  @include md {
    min-width: 250px;
    margin-right: 30px;
  }
  .side-navigation-column-header {
    padding: 15px;
    background-color: #055f16;
    .white-text {
      margin-top: 0px;
      margin-bottom: 0px;
      color: #fff;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
    }
  }
  .side-navigation-column-navigation-item {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    strong {
      font-weight: bold;
    }
    a {
      color: #404140;
    }
  }
}
.show-sidebar-mobile {
  display: flex;
  flex-wrap: wrap;
  .contact-sidebar {
    width: 100%;
    display: block;
    @include sm {
      width: 20%;
    }
  }
}