.custom-forms {
  .form-group {
    width: 50%;
    padding-right: 20px;
    float: left;
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    input[type="text"].form-control,
    input[type="number"].form-control,
    input[type="email"].form-control,
    input[type="tel"].form-control,
    select.form-control{
      display: block;
      width: 100%;
      height: 38px;
      padding: 8px 12px;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 1.428571429;
      color: #333333;
      vertical-align: middle;
      background-color: #ffffff;
      border: 1px solid #cccccc;
    }
    .submit-btn {
      margin-bottom: 14px;
      width: 200px;
    }
  }
  .last-form-group {
    width: 100%;
  }
  .form-group-flex {
    display: flex;
    flex-wrap: wrap;
    .checkbox-form {
      width: 50%;
      margin-bottom: 20px;
    }
    .checkbox-form-choice {
      width: 20%;
      margin-bottom: 20px;
    }
  }
}