.footer-wrapper {
  display: flex;
  min-height: 20vw;
  justify-content: space-between;
  background-color: #229738;
  position: relative;
  flex-direction: column;
  @include sm {
    margin-bottom: 0;
  }
  @include md {
    flex-direction: row;
  }
  .flex-left-footer {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 31px;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    @include xsm {
      flex-direction: row;
    }
    @include sm {
      width: 100%;
    }
    @include md {
      width: 40vw;
      flex-direction: column;
    }
    .footer-logo {
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: auto;
      justify-content: center;
      align-items: center;
      width: 39vw;
      min-height: 20vw;
      display: block;
      margin-left: auto;
      @include xsm {
        display: flex;
        margin-left: 0px;
      }
      @include sm {
        width: 25vw;
        min-height: 15vw;
        margin-left: auto;
      }
      @include md {
        width: 10vw;
        min-height: 10vw;
      }
    }
    .footer-left-text {
      margin-top: 16px;
      color: #fff;
      font-size: 0.9em;
      line-height: 1.5em;
      width: 100%;
      margin-left: 0px;
      @include xsm {
        width: 53%;
        margin-left: 48px;
      }
      @include sm {
        width: 50%;
        margin-left: 0;
      }
      @include md {
        width: 220px;
      }
    }
  }
  .footer-map {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100vw;
    min-height: 300px;
    padding-top: 0;
    padding-bottom: 0;
    @include md {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 70vw;
      min-height: none;
    }
    .footer-widget-map {
      position: relative;
      width: 100%;
      height: 400px;
      min-height: 20vw;
      overflow: hidden;
      @include md {
        height: 100%;
      }
    }
  }
  .flex-right-footer {
    position: relative;
    z-index: 1;
    display: flex;
    opacity: 1;
    justify-content: center;
    width: 90vw;
    margin-left: 15px;
    align-items: flex-start;
    border-top-style: none;
    margin-bottom: 130px;
    @include xsm {
      width: 100vw;
      border-top: 1px solid #92b956;
    }
    @include sm {
      width: 100vw;
      margin-bottom: 130px;
      border-top: 0px solid #92b956;
    }
    @include md {
      margin-bottom: 0;
      width: 50vw;
    }
    .footer-menu-titles {
      margin-bottom: 11px;
      padding-bottom: 1px;
      font-weight: 800;
    }
    .footer-menu-col-one {
      padding-top: 4vw;
      color: #fff;
      width: 50vw;
      padding-left: 0vw;
      @include xsm {
        padding-left: 6vw;
      }
      @include md {
        width: 20vw;
      }
      ul {
        list-style: none;
        margin-top: 0px;
        margin-bottom: 10px;
        padding-left: 0;
        @include xsm {
          padding-left: 0;
        }
        @include sm {
          padding-left: 0;
        }
        @include md {
          padding-left: 0px;
        }
        li {
          margin-bottom: 0.5vw;
          line-height: 1;
          a {
            font-size: 16px;
            color: #fff;
            @include transition(0.3s);
          }
        }
      }
    }
    .footer-menu-titles {
      margin-bottom: 11px;
      padding-bottom: 1px;
      font-weight: 800;
    }
    .footer-col-two {
      padding-top: 4vw;
      padding-left: 6vw;
      color: #fff;
      width: 50vw;
      @include md {
        width: 20vw;
      }
      ul {
        margin-top: 0px;
        margin-bottom: 10px;
        padding-left: 0;
        list-style: none;
        li {
          margin-bottom: 0.5vw;
          line-height: 1;
          a {
            font-size: 16px;
            color: #fff;
            @include transition(0.3s);
          }
        }
      }
    }
  }
  .footer-background {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0.41;
  }
}