.gallery-section {
  z-index: 2;
  position: relative;
  clear: both;
  padding-top: 0rem;
  padding-bottom: 0vw;
  border-bottom: 2px none #fff;
  .gallery-section-wrapper {
    padding-top: 0vw;
    background-color: #e9edee;
    margin-top: 0;
    background-image: radial-gradient(circle farthest-corner at 50% 50%, #fff 61%, hsla(0, 0%, 100%, 0));
    @include md {
      margin-top: 0;
      background-image: radial-gradient(circle farthest-corner at 0% 0%, #fff, hsla(0, 0%, 100%, 0));
    }
    .gallery-container {
      z-index: 5;
      width: 100%;
      max-width: 100%;
      padding-right: 30px;
      padding-left: 30px;
      position: static;
      margin-left: auto;
      margin-right: auto;
      background-color: $green;
      @include sm {
        padding-right: 7vw;
        padding-left: 7vw;
      }
      &:before {
        content: " ";
        display: table;
      }
      &:after {
        content: " ";
        display: table;
        clear: both;
      }
      .gallery-flex-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -20px;
        margin-left: -20px;
        @include sm {
          margin-right: -3vw;
          margin-left: -3vw;
        }
        @include md {
          flex-wrap: nowrap;
        }
        .gallery-col {
          width: 50%;
          padding-right: 3vw;
          padding-left: 3vw;
          flex-grow: 1;
        }
        .gallery-title-col {
          position: relative;
          align-items: center;
          flex-shrink: 1;
          background-color: #018848;
          text-align: center;
          display: flex;
          overflow: hidden;
          width: auto;
          margin-top: -1vw;
          margin-bottom: 1.5rem;
          margin-left: 0;
          padding-right: 0;
          padding-left: 0;
          justify-content: center;
          flex-grow: 0;
          min-width: 85%;
          transform: skew(-20deg, 0deg);
          @include xsm {
            min-width: 70%;
          }
          @include sm {
            min-width: 55%;
          }
          @include md {
            transform: skew(20deg, 0deg);
            margin-bottom: 0em;
            margin-left: -7vw;
            padding-left: 9vw;
            justify-content: flex-start;
            margin-top: -2vw;
            min-width: auto;
            width: 100%;
            display: block;
            text-align: left;
          }
          .gallery-title-wrapper {
            position: relative;
            margin-top: 0em;
            margin-bottom: 0em;
            transform: skew(20deg, 0deg);
            @include md {
              transform: none;
              margin-top: 1.5em;
              margin-bottom: 1.5em;
            }
            .gallery-section-title {
              color: #fff;
              padding-top: 0.0625em;
              line-height: 1.125em;
              font-weight: 500;
              letter-spacing: -0.01em;
              transform: none;
              margin: 0.5em 1.5em;
              font-size: 1.625em;
              @include sm {
                font-size: 2.25em;
              }
              @include md {
                margin: 0;
                font-size: 2.5em;
                margin-top: 0.5em;
                transform: skew(-20deg, 0deg);
              }
            }
          }
        }
        .gallery-filter-col {
          display: flex;
          flex-direction: row;
          align-items: stretch;
          flex-shrink: 0;
          width: 100%;
          justify-content: flex-start;
          padding-right: 0px;
          padding-left: 0px;
          @include sm {
            padding-right: 3vw;
            padding-left: 3vw;
          }
          @include md {
            width: 65%;
            justify-content: flex-end;
          }
          .gallery-filter-list {
            position: relative;
            display: flex;
            min-height: 4rem;
            flex-grow: 1;
            color: #9eaabd;
            line-height: 1.125em;
            font-weight: 500;
            list-style-type: none;
            margin-bottom: 0.5em;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-left: 12vw;
            font-size: 0.875rem;
            border-bottom: none;
            @include xsm {
              padding-left: 10vw;
              font-size: 1rem;
            }
            @include sm {
              font-size: 16px;
              padding-left: 1em;
              justify-content: center;
            }
            @include md {
              margin-bottom: 0px;
              padding-left: 0px;
              justify-content: flex-end;
            }
            .gallery-filter-list-item {
              display: flex;
              margin-top: 0.5em;
              margin-bottom: 0.5em;
              align-items: center;
              flex-grow: 0;
              justify-content: flex-start;
              margin-left: 0em;
              order: 1;
              margin-right: 0em;
              text-align: left;
              width: 50%;
              @include xsm {
                width: 33.33%;
              }
              @include sm {
                text-align: center;
                margin-right: 1em;
                order: 0;
                width: auto;
              }
              @include md {
                justify-content: flex-end;
                margin-right: 0;
                margin-left: 0.75em;
              }
              &:last-child {
                .gallery-filter-list-item-divider {
                  display: none;
                }
              }
              .gallery-filter-list-item-link {
                padding-top: 0.0625em;
                color: #fff;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
                @include transition(0.3s);
                &:hover {
                  font-weight: 900;
                }
              }
              .active.gallery-filter-list-item-link {
                font-weight: 900;
              }
              .gallery-filter-list-item-divider {
                margin-left: 1em;
                display: none;
                @include sm {
                  display: block;
                }
                @include md {
                  margin-left: 0.75em;
                }
              }
            }
          }
        }
      }
    }
    .gallery-images-flex-row {
      display: block;
      margin-right: -2px;
      margin-left: -2px;
      width: calc(100% + 5px);
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      flex-wrap: wrap;
      margin-top: 1rem;
      &:before {
        content: " ";
        display: table;
      }
      &:after {
        content: " ";
        display: table;
        clear: both;
      }
      @include md {
        margin-top: 0em;
      }
      .gallery-section-flex-col {
        padding-right: 0vw;
        padding-left: 0vw;
        float: left;
        flex-grow: 1;
        width: 100%;
        @include md {
          width: 50%;
        }
        .gallery-image-col {
          width: 33.33%;
          padding: 0px;
          float: left;
          border: 2px solid #fff;
          display: flex;
          position: relative;
          flex-direction: column;
          justify-content: flex-start;
          align-items: stretch;
          flex-grow: 1;
          @include md {

          }
          .gallery-lightbox-link {
            position: relative;
            display: flex;
            overflow: hidden;
            width: 100%;
            justify-content: center;
            align-items: center;
            background-color: #162e47;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            text-align: center;
            height: 40vw;
            background-size: 20px 20px;
            @include sm {
              background-size: 24px 24px;
            }
            @include md {
              height: 27vw;
            }
            .gallery-lightbox-image {
              position: relative;
              width: 100%;
              height: 100%;
              max-width: none;
              flex-grow: 1;
              background-position: 50% 50%;
              background-size: cover;
              background-repeat: no-repeat;
              &:hover {
                opacity: 0.3;
              }
            }
          }
          .gallery-lightbox-link-short {
            height: 30vw;
            @include md {
              height: 14vw;
            }
          }
        }
        .gallery-image-col-wide {
          width: 66.67%;
        }
      }
    }
  }
}