.homepage-content {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 30vw;
  padding-bottom: 3vw;
  justify-content: center;
  margin-bottom: 5vw;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 0;
  padding-top: 21px;
  @include xsm {
    margin-top: -50px;
    padding-top: 0px;
  }
  @include sm {
    margin-top: 0;
    padding-top: 2vw;
  }
  @include md {
    align-items: stretch;
    flex-direction: row-reverse;
    margin-bottom: 0;
    padding-top: 5vw;
  }
  .content-wrapper {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    flex: 1;
    display: flex;
    width: 90vw;
    margin-top: -16px;
    flex-direction: column;
    align-items: flex-start;
    @include xsm {
      width: 90%;
      display: block;
      margin-top: 0;
    }
    @include md {
      flex: none;
      width: 45vw;
      margin-left: 36px;
    }
    .content-text {
      margin: 14px auto 2vw;
      color: #404140;
      margin-bottom: 32px;
      font-size: 0.9em;
      line-height: 1.4em;
      @include xsm {
        margin-bottom: 0;
        margin: 14px auto 2vw;
        line-height: 1.5em;
        font-size: 1em;
      }
      @include md {
        font-size: 1.2em;
      }
    }
    .content-btn {
      display: flex;
      height: 50px;
      margin-right: auto;
      margin-left: auto;
      width: 80vw;
      justify-content: center;
      align-items: center;
      @include xsm {
        width: 50vw;
      }
      @include sm {
        width: 35vw;
      }
      @include md {
        width: 300px;
      }
    }
    .is-about-windows {
      padding-bottom: 12px;
      line-height: 1.2em;
      font-size: 1.1em;
      background-size: 7%;
      margin-bottom: 0px;
      padding-top: 0px;
      @include xsm {
        padding-top: 12px;
      }
      @include md {
        font-size: 1.2em;
      }
    }
  }
  .content-graphic {
    position: relative;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    width: 100%;
    min-height: 50vw;
    margin-bottom: 35px;
    height: 45vw;
    margin-top: -12px;
    background-position: 50% 50%;
    @include xsm {
      margin-top: 28px;
      background-position: -15px 50%;
    }
    @include sm {
      margin-top: 21px;
      background-position: 50% -20px;
      height: auto;
    }
    @include md {
      width: 45vw;
      min-height: 28vw;
      background-position: 2px -8px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .b-content-img-mask {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      background-position: 100% 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}