.hero-area-home {
  position: absolute;
  width: 100%;
  min-height: 60vw;
  margin-top: -6vw;
  background-position: 94% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  @include transition(0.7s);
  transform: translateX(0px) translateY(-345px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);
}
.home-area-transform {
  transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);
}
.hero-area-boy {
  position: absolute;
  left: 0px;
  top: -8px;
  right: 0px;
  background-repeat: no-repeat;
  z-index: 900;
  bottom: auto;
  width: 200px;
  min-height: 300px;
  margin-top: 150px;
  margin-left: -37px;
  background-position: 71% 50%;
  background-size: cover;
  @include xsm {
    bottom: 1px;
    width: 80vw;
    min-height: 76vw;
    margin-left: -146px;
    margin-top: 0px;
    background-position: 72% 100%;
    background-size: contain;
  }
  @include sm {
    width: 45vw;
    margin-left: -2px;
    margin-top: 190px;
    background-position: 100% 50%;
    background-size: cover;
  }
  @include md {
    background-position: 100% 50%;
    background-size: cover;
    margin-top: 125px;
    left: -2px;
    width: 24vw;
    min-height: 44vw;
  }
  @include lg {
    left: 0;
    margin-left: 0;
    z-index: 1000;
    width: 550px;
    min-height: 610px;
    margin-top: 48px;
    background-position: -56px 100%;
    background-size: 640px;
  }
}
.hero-area-components {
  position: relative;
  z-index: 900;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0px;
  background-color: rgba(0, 0, 0, .27);
  min-height: 30vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include xsm {
    flex-direction: row;
    min-height: 51vh;
    justify-content: flex-end;
    align-items: stretch;
  }
  @include sm {
    min-height: 73vh;
    padding-bottom: 37px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  @include md {
    justify-content: space-between;
  }
  @include lg {
    background-color: none;
    min-height: 37vw;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    background-color: transparent;
  }
  .hero-text-titles {
    position: relative;
    padding-left: 2vw;
    display: flex;
    margin-top: 0px;
    width: 100%;
    min-height: 47vw;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    @include xsm {
      flex: none;
      width: 55vw;
      justify-content: flex-start;
      align-items: flex-end;
      min-height: auto;
    }
    @include sm {
      display: block;
      margin-top: -26px;
    }
    @include md {
      margin-top: 0;
      padding-left: 24vw;
    }
    @include lg {
      width: 60vw;
      margin-top: 0;
      padding-left: 470px;
    }
    a {
      color: #fff;
      font-weight: bold;
    }
    .hero-area-title {
      color: #fff;
      line-height: 1.1em;
      font-weight: 800;
      display: block;
      text-align: center;
      margin-left: auto;
      width: 50%;
      margin-top: 116px;
      margin-right: 17px;
      margin-bottom: 31px;
      padding-top: 0px;
      font-size: 1.7em;
      @include xsm {
        margin-top: 38px;
        width: 70vw;
        margin-right: 14px;
        margin-bottom: 107px;
        font-size: 2.1em;
      }
      @include sm {
        width: 90vw;
        margin-right: auto;
        margin-left: 0;
        margin-bottom: 10px;
        font-size: 2.5em;
      }
      @include md {
        text-align: left ;
        font-size: 3.1em;
        width: 386px;
        margin-top: 3vw;
        margin-right: auto;
        margin-left: 0;

      }
    }
    .b-hero-subtitles {
      width: 25vw;
      margin-top: 30px;
      margin-bottom: 30px;
      color: #fff;
      font-size: 1em;
      line-height: 1.5em;
      font-weight: 300;
      display: none;
      @include md {
        display: block;
      }
      .bold-span {
        font-weight: 800;
      }
    }
    .bouncing-image {
      display: none !important;
      position: absolute;
      bottom: -4vw;
      display: flex;
      width: 20vw;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      color: hsla(0, 0%, 100%, 0.39);
      font-size: 0.9em;
      @include lg {
        display: flex !important;
      }
      @include xxl {
        bottom: -12vw;
      }
    }
  }
  .main-hero-form {
    transform: translateX(550px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);
    margin: 0 0 15px;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    margin-bottom: 15px;
    width: 50vw;
    margin-top: 131px;
    margin-right: 23px;
    padding: 13px 19px;
    display: none;
    @include transition(0.9s);
    @include sm {
      display: block;
    }
    @include md {
      margin-right: 0;
      width: 400px;
      margin-top: 24px;
      padding: 30px;
    }
    .form-is-home {
      align-items: center;
      background-color: rgba(8, 37, 13, .58);
      justify-content: center;
      flex-direction: column;
      display: flex;
      padding: 26px 33px;
      .internal-form-title {
        margin-bottom: 11px;
        color: #fff;
        line-height: 1.2em;
        font-weight: 800;
        text-align: center;
        font-size: 1.4em;
        @include md {
          font-size: 2em;
        }
      }
      .main-form-subtitle {
        margin-top: 10px;
        margin-bottom: 10px;
        color: #fff;
        font-size: 0.9em;
        line-height: 1.2em;
        text-align: center;
      }
      .hero-form-input {
        display: block;
        width: 100%;
      }
      .internal-form-input {
        width: 100%;
        margin-bottom: 18px;
        height: 38px;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
      }
      .phone-zip-wrap {
        display: flex;
        justify-content: space-between;
        height: auto;
        flex-shrink: 0;
        .zip-field {
          margin-right: 14px;
        }
      }
      .submit {
        width: 100%;
      }
      .form-btn {
        width: 100%;
        flex: 0 auto;
        border: 1px solid #88c084;
        background-color: #229738;
        display: inline-block;
        padding: 9px 15px;
        line-height: inherit;
        text-decoration: none;
        cursor: pointer;
        border-radius: 0;
        color: white;
        width: 100%;
        @include transition(0.3s);
        &:hover {
          background-color: #055f16;
        }
      }
      .trust-logos {
        display: flex;
        width: 100%;
        min-height: 3vw;
        margin-top: 1vw;
        justify-content: space-between;
        .b-left-flex {
          display: flex;
          margin-right: 2vw;
          align-items: center;
        }
        .b-flex-right {}
      }
    }
  }
  .main-hero-move {
    transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);
  }
}
.bottom-triangle {
  transform: translateX(-28px) translateY(330px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);
  position: absolute;
  width: 37vw;
  height: 30vw;
  margin-right: 12.5vw;
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.69;
  top: auto;
  right: -114px;
  bottom: -26px;
  display: none;
  @include transition(0.7s);
  @include sm {
    display: block;
    bottom: -139px;
  }
  @include md {
    top: 500px;
    right: -158px;
    bottom: -29px;
  }
}
.bottom-triangle-move {
  transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);
}
.top-triangle {
  transform: translateX(300px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);
  background-position: 100% 0px;
  background-size: 492px;
  background-repeat: no-repeat;
  position: absolute;
  top: 131px;
  right: 0px;
  width: 500px;
  height: auto;
  margin-top: -12px;
  @include transition(0.7s);
  @include xsm {
    height: 400px;
    margin-top: -102px;
  }
  @include sm {
    margin-top: 0;
  }
}
.top-triangle-move {
  transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);
}




.animated-arrow {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-5px);
    opacity: 0.3;
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-5px);
    opacity: 0.3;
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}