
  .custom-sidebar {
    width: 20%;
    min-height: 200px;
    padding-top: 10px;
    display: none;
    min-width: 200px;
    margin-right: 0px;
    @include sm {
      display: block;
    }
    @include md {
      min-width: 250px;
      margin-right: 30px;
    }
    .widget-title {
      display: none;
    }
    ul {
      list-style: none;
      font-size: unset;
      line-height: unset;
      padding-left: 0;
      margin-bottom: 0;
      margin-left: 0;
      li {
        a {
          background-color: #055f16;
          padding: 15px;
          border-bottom: 1px solid rgba(0, 0, 0, .5);
          @include transition(0.3s);
          margin-top: 0px;
          margin-bottom: 0px;
          color: #fff;
          font-size: 18px;
          line-height: 24px;
          font-weight: bold;
          text-decoration: none;
          display: block;
          @include transition(0.3s);
        }
        ul {
          a {
            color: #404140;
            background-color: #fff;
            font-weight: 400;
            @include transition(0.3s);
            &:hover {
              background-color: #E1F3D9;
            }
          }
        }
      }
      .current_page_item {
        a {

        }
      }
    }
  }
  .type-page {
    flex: 1;
    padding-left: 0;
    @include sm {
      padding-left: 30px;
    }
  }
  section {
    width: 100% !important;
    margin: 0 !important;
  }
