.internal-hero {
  display: flex;
  background-color: #88c084;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  align-items: stretch;
  max-height: 456px;
  min-height: 50vw;
  background-position: 0% 89%;
  @include xsm {
    min-height: auto;
    background-position: 50% 50%;
  }
  @include md {
    max-height: 490px;
  }
  .internal-hero-mask {
    display: flex;
    padding-top: 200px;
    padding-left: 10vw;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-repeat: repeat, no-repeat;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .53), hsla(0, 0%, 100%, .53)), url(../images/internal-mask.png);
    width: 100vw;
    background-position: 100% 0px;
    background-size: cover;
    @include xsm {
      width: 100%;
      background-position: 0px 0px, 0px 50%;
      background-size: auto, cover;
    }
    @include sm {
      background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .71), hsla(0, 0%, 100%, .71)), url(../images/internal-mask.png);
    }
    @include md {
      background-image: radial-gradient(circle farthest-corner at 17% 48%, #fff, hsla(0, 0%, 100%, 0) 56%), linear-gradient(135deg, #fff 1%, hsla(0, 0%, 100%, 0) 72%), url(../images/internal-mask.png);
      background-position: 0px 0px, 0px 0px, 0px 50%;
      background-size: auto, auto, cover;
      background-repeat: repeat, repeat, no-repeat;
    }
  }
  .internal-form-area {
    padding: 0px;
    background-color: #fff;
    float: right;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    margin: 0 0 15px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 50vw;
    display: none;
    @include sm {
      display: flex;
    }
    @include md {
      width: 400px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .form-is-internal {
      display: flex;
      padding: 26px 33px;
      flex-direction: column;
      justify-content: center;
      padding-top: 7px;
      align-items: center;
      background-color: rgba(8, 37, 13, .87);
      max-height: 439px;
      @include md {
        max-height: none;
      }
      .internal-form-title {
        margin-bottom: 11px;
        color: #fff;
        line-height: 1.2em;
        font-weight: 800;
        text-align: center;
        font-size: 1.4em;
        @include md {
          font-size: 2em;
        }
        .bold-text-form {
          font-weight: bold;
        }
      }
      .main-form-subtitle {
        margin-top: 10px;
        margin-bottom: 10px;
        color: #fff;
        font-size: 0.9em;
        line-height: 1.2em;
        text-align: center;
      }
      .hero-form-input {
        display: block;
        width: 100%;
      }
      .internal-form-input {
        margin-bottom: 18px;
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
      }
      .phone-zip-wrap {
        display: flex;
        justify-content: space-between;
        height: auto;
        flex-shrink: 0;
        .zip-field {
          margin-right: 14px;
        }
      }
      .form-btn {
        width: 100%;
        flex: 0 auto;
        border: 1px solid #88c084;
        background-color: #229738;
        display: inline-block;
        padding: 9px 15px;
        line-height: inherit;
        text-decoration: none;
        cursor: pointer;
        border-radius: 0;
        color: white;
        @include transition(0.3s);
        &:hover {
          background-color: #055f16;
        }
      }
      .trust-logos {
        display: flex;
        width: 100%;
        min-height: 3vw;
        margin-top: 1vw;
        justify-content: space-between;
        .b-left-flex {
          display: flex;
          margin-right: 2vw;
          align-items: center;
        }
        .b-flex-right {}
      }
    }
    .submit {
      width: 100%;
    }
  }
}
.cta-internal-btn {
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 80%;
  @include xsm {
    width: 50%;
  }
  @include sm {
    display: none;
  }
}