.gallery-page {
  .gallery-images-flex-row {
    display: block;
    margin-right: -2px;
    margin-left: -2px;
    width: calc(100% + 5px);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    flex-wrap: wrap;
    margin-top: 1rem;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    @include md {
      margin-top: 0em;
    }
    .gallery-section-flex-col {
      padding-right: 0vw;
      padding-left: 0vw;
      float: left;
      flex-grow: 1;
      width: 100%;
      @include md {
        width: 100%;
      }
      .gallery-image-col {
        width: 50%;
        padding: 0px;
        float: left;
        border: 2px solid #fff;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        flex-grow: 1;
        @include sm {
          width: 33.3%;
        }
        @include md {
          width: 25%;
        }
        .gallery-lightbox-link {
          position: relative;
          display: flex;
          overflow: hidden;
          width: 100%;
          justify-content: center;
          align-items: center;
          background-color: #162e47;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          text-align: center;
          height: 40vw;
          background-size: 20px 20px;
          @include sm {
            background-size: 24px 24px;
          }
          @include md {
            height: 27vw;
          }
          .gallery-lightbox-image {
            position: relative;
            width: 100%;
            height: 100%;
            max-width: none;
            flex-grow: 1;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
            &:hover {
              opacity: 0.3;
            }
          }
        }
        .gallery-lightbox-link-short {
          height: 30vw;
          @include md {
            height: 14vw;
          }
        }
      }
      .gallery-image-col-wide {
        width: 66.67%;
      }
    }
  }
}