.mobile-menu {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  display: flex;
  width: 100%;
  min-height: 10vw;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #3e683b;
  background-color: rgba(8, 37, 13, .93);
  @include md {
    display: none;
  }
  .one-app {
    display: flex;
    width: 100%;
    border-right: 1px solid #3e683b;
    background-repeat: no-repeat;
    color: #fff;
    line-height: 1.2em;
    text-align: center;
    font-size: 0.9em;
    min-height: 20vw;
    padding-right: 7px;
    padding-bottom: 6px;
    padding-left: 7px;
    justify-content: center;
    align-items: flex-end;
    background-position: 50% 12px;
    background-size: 8vw;
    text-decoration: none;
    @include xsm {
      min-height: 10vw;
      padding-right: 16px;
      justify-content: flex-end;
      align-items: center;
      background-size: 46px;
      background-position: 6px 50%;
      padding-bottom: 6px;
      padding-left: 7px;
    }
    @include sm {
      background-position: 14px 50%;
      font-size: 1em;
    }
  }
  .door {
    background-size: 5vw;
    @include xsm {
      background-size: 24px;
    }
  }
}