.site-header {
	z-index: 9999;
	position: relative;
}
.masthead {
	background-color:$white;
	background-image: linear-gradient(7deg, rgba(7, 19, 2, .5), hsla(0, 0%, 100%, 0)), url(../images/hero2.jpg);
	background-size: auto, cover;
	background-repeat: repeat, no-repeat;
	position: relative;
	z-index: 900;
	overflow: hidden;
	flex-direction: column;
	display: flex;
	min-height: 90vw;
	justify-content: flex-start;
	align-items: stretch;
	background-position: 0px 0px, 43% 52%;
	@include xsm {
		min-height: 80vw;
		background-position: 0px 0px, 23% 39%;
	}
	@include sm {
		background-position: 0px 0px, 28% 50%;
	}
	@include md {
		background-position: 0px 0px, 0px 0px;
		min-height: 45vw;
		display: block;
		flex-direction: row;
	}
}
.b-phone-bar {
	display: flex;
	overflow: hidden;
	height: 30px;
	position: fixed;
	justify-content: flex-end;
	align-items: stretch;
	background-color: $green;
	width: 100%;
	top: 0;
	z-index: 99999;
	@include xsm {
		position: relative;
	}
	.b-angle-top {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background-color: rgba(8, 37, 13, .58);
		transform: skew(51deg, 0deg);
		width: 87vw;
		margin-right: -22px;
		padding-right: 52px;
		padding-left: 0vw;
		@include xsm {
			padding-right: 0;
			padding-left: 2vw;
			margin-right: -20px;
			width: 83vw;
		}
		@include sm {
			width: 57vw;
		}
		@include md {
			width: 50vw;
			margin-right: -19px;
		}
		.b-top-menu_items {
			margin-right: 26px;
			transform: skew(-51deg, 0deg);
			color: #fff;
			font-weight: 400;
			display: none;
			a {
				color: #fff;
				text-decoration: none;
				@include transition(0.3s);
				&:hover {
					color: $primary;
				}
			}
			@include xsm {
				display: block;
			}
		}
		.b-phonenumber {
			transform: skew(-51deg, 0deg);
			color: #fff;
			font-size: 1.2em;
			line-height: 1.2em;
			font-weight: 800;
			float: right;
			margin-right: 5.5vw;
			@include md {
				margin-right: 2.5vw;
			}
			a {
				color: #fff;
			}
		}
	}
}
.main-navbar {
	padding: 6px 0px 6px 21px;
	background-color: hsla(0, 0%, 100%, .79);
	position: relative;
	margin-top: 30px;
	@include xsm {
		margin-top: 0;
	}
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
		content: " ";
		display: table;
	}
	.logo-header {
		position: relative;
		float: left;
		text-decoration: none;
		color: #333333;
		padding: 3px;
	}
	.site-navigation {
		position: relative;
		float: right;
		display: none;
		@include md {
			display: block;
		}
	}
}
.menu-main-menu-container {
	display: none;
	@include md {
		display: block;
	}
}
.masthead {
	.menu-toggle {
		margin-top: 15px;
		margin-right: 16px;
		position: relative;
		float: right;
		.fa-bars {
			@include transition(0.3s);
			padding: 18px;
			color: #404140;
			font-size: 24px;
			&:hover {
				color: white;
				background-color: #88c084;
			}
		}
	}
}
.internal-masthead {
	.menu-toggle {
		margin-top: 15px;
		margin-right: 16px;
		position: relative;
		float: right;
		.fa-bars {
			@include transition(0.3s);
			padding: 18px;
			color: #404140;
			font-size: 24px;
			&:hover {
				color: white;
				background-color: #88c084;
			}
		}
	}
}
.site-navigation {
	position:relative;
	.menu-item-home {
		display: none;
	}
	ul {
		padding:0;
		margin:0;
		font-size: unset;
		li {
			position:relative;
			display: inline-block;
			text-align: center;
			@include transition(0.3s);
			padding-right: 20px;
			padding-left: 20px;
			margin-top: 14px;
			padding: 20px 10px;
			@include lg {
				padding: 20px;
			}
			&:hover, &:active, &:focus,
			&.current_page_item {
			    >a {
					color: #0ab82a;
			    }
			}
			&:last-child ul {
				left:auto;
				right:0;
			}
			a { @include transition(0.3s);
				display: block;
				line-height: 1.2em;
				font-weight: 600;
				color:#646161;
				text-transform: uppercase;
				text-decoration: none !important;
			}
		}
		ul {
		    display: none;
		    position: absolute;
		    z-index: 99;
		    width: 275px;
			min-width: 200%;
			background-color: #a9a9a9;
		    left: 0;
		    text-align:left;
		    @include box-shadow(10px, 10px, 20px, rgba(0,0,0,0.15));
			top: 50px;

			li {
		    	display: block;
		    	margin: 0;
				width: 100%;
				text-align:left;
				padding: 0;
				a {
					padding: 10px 20px;
					@include transition(0.3s);
					padding-top: 20px;
					padding-bottom: 20px;
					color: #222222;
					text-transform: none;
					font-size: 16px;
					font-weight: 400;
					letter-spacing: 0;
					text-shadow: none !important;
					border-bottom: 1px solid #fff;
					&:hover, &:active, &:focus {
						padding-left: 30px;
						background-color: #055f16;
						color: #fff;
					}
				}
			}
			.current_page_item {
				a {
					padding-left: 30px;
					background-color: #055f16;
					color: #fff;
				}
			}
			ul {

			}
			ul {
				display: none !important;
			}
		}
	}
	ul li:hover>ul {
	    display: block;
	    -webkit-animation: fadein .25s;
	    -moz-animation: fadein .25s;
	    -ms-animation: fadein .25s;
	    -o-animation: fadein .25s;
	    animation: fadein .25s;
	}
}

@keyframes fadein {
    from {
	    opacity: 0;
	    margin-top: -6px;
	}
	to {
	    opacity: 1;
	    margin-top: -1px;
	}
}
@-moz-keyframes fadein {
    from {
	    opacity: 0;
	    margin-top: -6px;
	}
	to {
	    opacity: 1;
	    margin-top: -1px;
	}
}
@-webkit-keyframes fadein {
    from {
	    opacity: 0;
	    margin-top: -6px;
	}
	to {
	    opacity: 1;
	    margin-top: -1px;
	}
}
@-ms-keyframes fadein {
    from {
	    opacity: 0;
	    margin-top: -6px;
	}
	to {
	    opacity: 1;
	    margin-top: -1px;
	}
}
@-o-keyframes fadein {
    from {
	    opacity: 0;
	    margin-top: -6px;
	}
	to {
	    opacity: 1;
	    margin-top: -1px;
	}
}

#mmenu:not( .mm-menu ) { display: none; }
.mm-navbar .mm-title { @include font-size(0.9,1.25); }
.mm-listview { @include font-size(1,1.25); }

.mm-menu > .mm-panels {background:$gray !important;}
.mm-menu .mm-navbar a, .mm-menu .mm-navbar>*,
.mm-navbar, .mm-menu .mm-btn:after, .mm-menu .mm-btn:before,
.mm-listview>li, .mm-listview>li .mm-next, .mm-listview>li .mm-next:before, .mm-listview>li:after,
.mm-menu .mm-listview>li .mm-next:after {border-color:$white !important}
.mm-listview>li:not(.mm-divider):after {left:0 !important;}
.mm-menu .mm-listview a, .mm-navbar .mm-title {color:$white !important;}
.mm-panels .mm-listview a:hover {color:rgba($white,0.5) !important;}

#mmenu {
	display:block;
}