.offer-overflow-wrapper {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.offers-wrapper {
  padding: 98px 36px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1.3) scaleY(1.3) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);
  opacity: 0.39;
  overflow: hidden;
  @include transition(0.7s);
  @include xsm {
    padding-right: 0;
    padding-left: 0;
    padding: 98px 36px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  @include md {
    padding-top: 0;
    padding-bottom: 0;
    padding: 98px 36px;
  }
  .offers-main {
    position: relative;
    display: flex;
    min-height: 30vw;
    border: 1px solid #92b956;
    background-color: hsla(0, 0%, 100%, .74);
    width: 100%;
    padding: 21px 19px;
    flex-direction: column-reverse;
    margin-top: 20px;
    padding-right: 22px;
    padding-left: 22px;
    justify-content: center;
    align-items: center;
    @include xsm {
      margin-top: 0;
      margin: 36px auto 38px;
      align-items: stretch;
    }
    @include sm {
      flex-direction: row;
      justify-content: space-between;
    }
    @include md {
      width: 70vw;
      padding: 0;
    }
    .text-wrap {
      position: relative;
      z-index: 1;
      flex-direction: column;
      justify-content: center;
      -webkit-box-align: start;
      padding-right: 0px;
      display: block;
      width: 80vw;
      margin-right: auto;
      margin-left: auto;
      align-items: flex-start;
      @include xsm {
        display: flex;
        width: 100%;
        margin-left: 0px;
        align-items: stretch;
      }
      @include sm {
        align-items: flex-start;
        width: 59vw;
        margin-left: 6px;
      }
      @include md {
        width: 50vw;
        margin-left: 64px;
        padding-right: 57px;
      }
      .is-offers {
        width: 100%;
        margin-bottom: 6vw;
        font-size: unset;
        line-height: unset;
        @include xsm {
          margin-bottom: 3vw;
          width: 100%;
        }
        @include sm {
          width: 100%;
        }
        a {
          white-space: nowrap;
          overflow: hidden;
          font-weight: bold;
          color: #008605;
        }
        p {
          color: #404140;
          font-size: 1em;
          line-height: 1.5em;
          width: 100%;
          margin-top: 0px;
          margin-bottom: 6vw;
          @include xsm {
            margin-bottom: 0;
            margin-top: -16px;
            width: 80%;
          }
          @include sm {
            width: auto;
          }
          @include md {
            margin-top: 0px;
            line-height: 1.6em;
          }
            @include lg {
                font-size: 1.2em;
            }
        }
      }
    }
    .offers-image {
      position: relative;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      background-position: 79% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #000;
      @include transition(0.3s);
      width: 100%;
      height: 30vw;
      margin-bottom: 19px;
      margin-left: 0px;
      @include sm {
        height: auto;
        margin-bottom: 0;
        width: 50vw;
        margin-left: 42px;
      }
      @include md {
        margin-left: 0;
      }
      &:hover {
        opacity: 0.9;
      }
      a {
        display: block;
        height: 100%;
        width: 100%;
        transition: .3s;

          .offers-link-icon {
            display: block;
            height: 15vw;
            width: 15vw;
            max-height: 150px;
            max-width: 150px;
            position: absolute;
            top: 50%;
            left: 50%;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translate( -50%, -50% ) scale(1);
            transition: .3s;
          }
          
          &:hover {
            background-color: rgba( 0,0,0, 0.2 );
              .offers-link-icon {
                transform: translate( -50%, -50% ) scale(1.1);
              }
          }
      }
    }
    .b-h1-titles {
      font-size: 2.4em;
    }
  }
}
.offers-section-added {
  transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);
  opacity: 1;
}