.products-wrapper {
  position: relative;
  background-color: #e2f3d9;
  padding-top: 0px;
  min-height: 50vw;
  @include xsm {
    min-height: 30vw;
  }
  @include sm {
    padding-top: 30px;
  }
  .product-selector-title {
    position: relative;
    z-index: 1;
    margin-bottom: 12px;
    padding-top: 19px;
    background-color: transparent;
    color: #055f16;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    @include xsm {
      font-size: 2.3em;
    }
    @include md {
      font-size: 2em;
    }
  }
  .products-and-tabs {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
    padding-bottom: 48px;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 500px;
    @include md {
      flex-direction: row;
    }
    .tabs-menu {
      list-style: none;
      font-size: unset;
      line-height: unset;
      z-index: 1;
      width: 100%;
      position: relative;
      display: flex;
      min-width: 240px;
      align-items: flex-end;
      flex-direction: row;
      padding-right: 15px;
      padding-left: 15px;
      justify-content: space-between;
      margin-right: 0%;
      margin-bottom: 21px;
      padding-bottom: 0px;
      @include xsm {
        margin-right: 2%;
        padding-bottom: 33px;
        margin-bottom: 0;
      }
      @include sm {
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
      }
      @include md {
        justify-content: unset;
        flex-direction: column;
        width: 20vw;
      }
      .products-tabs-links {
        margin-top: 2vw;
        background-color: transparent;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        padding: 9px 10px;
        padding-right: 54px;
        text-align: left;
        cursor: pointer;
        color: #222222;
        @include transition(0.3s);
        @include xsm {
          padding: 9px 30px;
        }
        @include sm {
          padding: 9px 60px 9px 10px;      
        }
        &:hover, &:active {
          color: #229738;
          font-size: 1em;
          line-height: 1.5em;
          box-shadow: 0 4px 0 0 #229738;
          @include md {
            box-shadow: inset -4px 0 0 0 #229738;
          }
        }
      }
      .products-tabs-links.active {
        color: #229738;
        font-size: 1em;
        line-height: 1.5em;
        box-shadow: 0 4px 0 0 #229738;
        @include md {
          box-shadow: inset -4px 0 0 0 #229738;
        }
      }
      .is-product {
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 1em;
        line-height: 1.5em;
        height: 10vw;
        margin-right: 1vw;
        background-position: 50% 50%;
        @include sm {
          height: auto;
          background-position: 95% 50%;
          margin-right: 2vw;
        }
        @include md {
          margin-right: 0;
        }
        .text-block {
          display: none;
          @include sm {
            display: block;
          }
        }
      }
    }
    .tab-content {
      display: block;
      overflow: hidden;
      flex-grow: 1;
      position: static;
      margin-left: 12px;
      .product-tab {
        @include transition(0.3s);
        .product-flex-col {
          position: relative;
          z-index: 5;
          display: block;
          flex-direction: column;
          width: 95%;
          min-width: 0px;
          margin-left: 0px;
          padding-bottom: 0vw;
          @include xsm {
            padding-bottom: 8vw;
            margin-left: 26px;
            width: 90%;
            min-width: 90%;
          }
          @include md {
            min-width: 400px;
            width: 40%;
            margin-left: 0;
          }
          .b-h3-title {
            @include transition(0.3s);
          }
          .b-content-subtitle {
            margin-bottom: 23px;
            font-family: Montserrat, sans-serif;
            color: #000;
            font-size: 1em;
            font-weight: 800;
            text-transform: none;
          }
          .content-text {
            margin: 14px auto 2vw;
            color: #404140;
            margin-bottom: 32px;
            font-size: 0.9em;
            line-height: 1.4em;
            @include xsm {
              line-height: 1.5em;
              font-size: 1em;
              margin-bottom: 0;
              margin: 14px auto 2vw;
            }
            @include md {
              font-size: 1.2em;
            }
          }
          .tab-btn {
            margin-bottom: 14px;
            padding: 9px 15px;
            width: 60vw;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            margin-top: 0;
            display: block;
            @include xsm {
              margin-top: 24px;
              margin-right: 2vw;
              width: 30vw;
              display: inline-block;
            }
            @include sm {
              margin-top: 24px;
              width: 25vw;
            }
            @include md {
              margin-top: 0;
              width: 200px;
            }
          }
          .tab-btn-two {
            margin-bottom: 14px;
            padding: 9px 15px;
            width: 60vw;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            margin-top: 0;
            display: block;
            @include xsm {
              margin-top: 24px;
              margin-right: 2vw;
              width: 30vw;
              display: inline-block;
            }
            @include sm {
              margin-top: 24px;
              width: 25vw;
            }
            @include md {
              margin-top: 0;
              width: 200px;
            }
          }
        }
        .tabs-background-wrap {
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: -52%;
          @include xsm {
            left: 10%;
          }
          @include sm {
            left: -21%;
          }
          @include md {
            left: 35%;
          }
          .tabs-background-img {
            position: absolute;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            width: 100%;
            background-image: none;
            background-position: 0px 0px;
            background-size: auto;
            background-repeat: repeat;
            @include xsm {
              background-repeat: no-repeat;
              background-position: 50% 100%;
              background-size: 190%;
            }
            @include sm {
              background-position: 50% 50%;
              background-size: cover;
            }
          }
          .tabs-background-gradients {
            position: absolute;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            z-index: 0;
            background-image: linear-gradient(185deg, #e2f3d9 100%, hsla(0, 0%, 100%, 0)), linear-gradient(95deg, #e2f3d9 25%, hsla(0, 0%, 100%, 0) 70%);
            @include md {
              background-image: linear-gradient(94deg, #e2f3d9 8%, hsla(0, 0%, 100%, 0) 136%), radial-gradient(circle farthest-corner at 0% 0%, #e2f3d9, hsla(0, 0%, 100%, 0) 59%);
            }
            @include lg {
              background-image: linear-gradient(94deg, #e2f3d9 8%, hsla(0, 0%, 100%, 0) 36%), radial-gradient(circle farthest-corner at 0% 0%, #e2f3d9, hsla(0, 0%, 100%, 0) 59%);
            }
          }
        }
      }
    }
  }
  .nav-tabs {
    border-bottom: 0px solid #dee2e6;
  }
}
.bring-selector-up {
  margin-top: 21px !important;
}