.sticky-nav {
	position:fixed;
	z-index:99999;
	margin-top:-115px;
	top: 0;
	left: 0;
	width: 100%;
	@include opacity(0);
	@include transition(0.4s);
	&.sticky {
		@include opacity(1);
		margin-top: 0;
	}
	display: none;
	@include md {
		display: block;
	}
	.navbar-wrapper {
		position: relative;
		z-index: 1000;
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #88c084;
		background-color: #fff;
		.logo-sticky {
			margin-top: 6px;
			margin-right: 27px;
			margin-bottom: 11px;
			position: relative;
			float: left;
			text-decoration: none;
			color: #333333;
		}
		.form-wrapper {
			display: flex;
			margin-top: 16px;
			justify-content: center;
			align-items: center;
			.form-area {
				display: flex;
				width: 100%;
				float: left;
				justify-content: center;
				align-items: center;
				margin: 0 0 15px;
				.sticky-form {
					display: flex;
					width: 100%;
					margin-right: auto;
					margin-left: auto;
					justify-content: center;
					align-items: center;
					.sticky-form_fields {
						width: 13vw;
						margin-right: 15px;
						margin-bottom: 0px;
						height: 38px;
						padding: 8px 12px;
						display: block;
						font-size: 14px;
						line-height: 1.42857143;
						color: #333333;
						vertical-align: middle;
						background-color: #ffffff;
						border: 1px solid #cccccc;
						@include lg {
							width: 15vw;
						}
					}
				}
			}
		}
		.sticky-menu-btn {
			display: flex;
			margin-left: 12px;
			align-items: center;
			position: relative;
			float: right;
			padding: 18px;
			font-size: 24px;
			cursor: pointer;
		}
	}
	.fa-bars {
		color: #404140;
	}
	.sticky-btn {
		margin-bottom: 0;
	}
}