.sweepstakes-content {
  position: relative;
  display: flex;
  margin-bottom: 40px;
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-bottom: 13px;
  padding-top: 0px;
  flex-direction: column;
  background-position: 50% 100%;

  margin-top: 0px;
  background-size: 500px;
  @include xsm {
    margin-top: 40px;
    background-size: contain;
  }
  @include sm {
    padding-top: 13px;
    background-position: 100% 50%;
    flex-direction: row;
  }
  @include md {
    padding-top: 65px;
    padding-bottom: 65px;
    background-position: 102% 29%;
  }
    .sweepstakes-flex-right {
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      background-size: cover, auto, cover;
      background-repeat: no-repeat, repeat, no-repeat;
      background-position: 77% 50%, 0px 0px, 50% 50%;
      position: relative;
      width: 100%;
      min-height: 200px;
      @include xsm {
        min-height: 400px;
      }
      @include sm {
        position: absolute;
        width: 45vw;
        min-height: 180px;
      }
      @include md {
        width: 50vw;
        min-height: 600px;
        background-position: 88% -7px, 0px 0px, 57% 50%;
      }
    }
  .sweepstakes-flex-right.lazyloaded {
    background-image: url(../images/mask-sweeps_1.png), linear-gradient(0deg, #fff 8%, hsla(0, 0%, 100%, 0)), url(../images/bigstock--186066142.jpg);
  }
    .sweepstakes-flex-left {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: 0px;
      margin-bottom: 30px;
      align-items: stretch;
      @include xsm {
        align-items: center;
      }
      @include sm {
        margin-bottom: 0;
        width: 50vw;
        margin-right: 19px;
      }
      @include md {
        margin-right: 0;
      }
      .is-sweepstakes {
        position: relative;
        z-index: 1;
        margin-bottom: 1vw;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.3em;
        @include md {
          font-size: 2.5em;
        }
      }

      .b-sweepstakes-subtitle {
        margin-top: 21px;
        color: #404140;
        font-size: 1.5em;
        line-height: 1.5em;
        font-weight: 900;
        text-align: center;
      }
      .sweepstakes-30000 {
        margin-bottom: 12px;
        color: #229738;
        line-height: 1.2em;
        font-weight: 900;
        text-align: center;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, .39);
        margin-right: auto;
        margin-left: auto;
        font-size: 4em;
        @include xsm {
          font-size: 6.5em;
        }
        @include sm {
          font-size: 5.4em;
          margin-right: 0;
          margin-left: 0;
        }
        @include md {
          font-size: 8em;
        }
      }
      .b-sweepstakes-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .b-number {
          display: block;
          margin-right: auto;
          margin-bottom: 23px;
          margin-left: auto;
          background-image: none;
          background-size: auto;
          background-repeat: repeat;
          width: auto;
          @include sm {
            width: 80vw;
          }
          @include md {
            width: auto;
          }
          .b-up-title-text {
            color: #000;
            line-height: 1.5em;
            text-align: center;
            font-size: 1.2em;
            @include md {
              font-size: 1.6em;
            }
          }
        }
        .b-main-form-button {
          margin-bottom: 14px;
          transition-property: none;
          text-align: center;
          padding-right: 40px;
          padding-left: 40px;
          flex: 0 auto;
          border: 1px solid #88c084;
          background-color: #229738;
          width: 60vw;
          margin-right: auto;
          margin-left: auto;
          @include xsm {
            margin-left: 0;
            margin-right: 0;
            width: 35vw;
          }
          @include sm {
            width: 30vw;
          }
          @include md {
            width: 15vw;
          }
        }
    }
  }
  .lazyload,
  .lazyloading {
    opacity: 0;
  }
  .lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
  }
}