.tabs-section {
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  .tabs-menu  {
    display: flex;
    position: relative;
    .body-tabs {
      margin-right: 5px;
      border: 0px none #fff;
      background-color: #a9a9a9;
      color: #fff;
      position: relative;
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      text-align: left;
      cursor: pointer;
      @include transition(0.3s);
      padding: 10px 30px;
      @include sm {
        padding: 15px 35px;
      }
      @include md {
        padding: 20px 40px;
      }
      &:hover, &:active {
        margin-right: 5px;
        border-style: solid solid none none;
        border-width: 0;
        border-color: #fff;
        background-color: #195724;
        color: #fff;
      }
      a {
        display: block;
        color: #fff;
        text-decoration: none;
      }
    }
    .body-tabs.active {
      margin-right: 5px;
      border-style: solid solid none none;
      border-width: 0px;
      border-color: #fff;
      background-color: #195724;
      color: #fff;
    }
  }
  .tab-content {
    padding: 15px;
    border-style: solid;
    border-width: 7px 1px 1px;
    border-color: #055f16 #a9a9a9 #a9a9a9;
    background-color: #fff;
    background-image: url(../images/content-mask-internal.png);
    background-position: 100% 0px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    overflow: hidden;
    @include sm {
      padding: 40px;
    }
    .tab-menu {
      display: block;
      position: relative;
    }
  }
  li {
    margin: 2px 0px;
  }
}