.why-us {
  position: relative;
  min-height: 35vw;
  margin-top: 2vw;
  background-color: #e2f3d9;
  z-index: 1;
  padding-top: 5vw;
  padding-bottom: 5vw;
  @include md {
    padding-top: 2vw;
    padding-bottom: 3vw;
  }
  .b-h1-titles {
    position: relative;
    z-index: 1;
    margin-bottom: 1vw;
    text-align: center;
    text-transform: uppercase;
  }
  .why-us-wrap {
    position: relative;
    z-index: 1;
    margin-top: 3vw;
    float: right;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 23px;
    padding-left: 23px;
    @include xsm {
      display: flex;
      margin-left: 0;
      margin-right: 0vw;
      padding-right: 91px;
      padding-left: 91px;
    }
    @include md {
      width: 40vw;
      padding-right: 0;
      padding-left: 0;
      margin-right: 10vw;
    }
    .is-about-windows {
      padding-top: 12px;
      padding-bottom: 12px;
      line-height: 1.2em;
      font-size: 1.1em;
      background-size: 7%;
      background-image: linear-gradient(180deg, transparent, transparent);
      @include xsm {
        background-image: none;
      }
      @include md {
        font-size: 1.2em;
      }
    }
    .standard-paragraph {
      color: #404140;
      font-size: 1em;
      line-height: 1.5em;
      margin-top: 0px;
      @include sm {
        margin-top: -16px;
      }
      @include md {
        margin-top: 0px;
        font-size: 1.2em;
        line-height: 1.6em;
      }
    }
    ul {
      margin-top: 0px;
      margin-bottom: 10px;
      padding-left: 40px;
      font-weight: 400;
      font-size: unset;
      li {
        font-weight: 400;
        font-size: 0.9em;
        line-height: 1.2em;
        @include md {
          font-size: 1em;
          line-height: 1.5em;
        }
        .strong-text {
          color: #404140;
          font-size: 1em;
        }
      }
    }
    .why-btn {
      display: block;
      margin-right: auto;
      width: 60vw;
      margin-left: auto;
      margin-top: 15px;
      @include xsm {
        width: 30vw;
        margin-left: auto;
      }
      @include sm {
        margin-left: 0px;
        width: 25vw;
      }
      @include md {
        width: 200px;
      }
    }
  }
  .why-us-backgorund-img {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
    @include xsm {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: -380px 0px;
    }
    @include sm {
      background-position: 50% 50%;
    }
    @include md {
      background-position: 50% 50%;
    }
  }
  .b-tabs-background-gradients {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    background-image: linear-gradient(281deg, #e2f3d9 100%, hsla(0, 0%, 100%, 0)), radial-gradient(circle farthest-corner at 100% 0%, #e2f3d9, hsla(0, 0%, 100%, 0) 59%);
    @include md {
      background-image: linear-gradient(281deg, #e2f3d9 46%, hsla(0, 0%, 100%, 0) 86%), radial-gradient(circle farthest-corner at 100% 0%, #e2f3d9, hsla(0, 0%, 100%, 0) 59%);
    }
  }
}